.familyst-banner
  position: absolute
  top: 30px
  right: calc(50% - 203px)
  height: 136px
  width: 400px
  background-image: url(familyst-logo.png)
  background-size: 100%
  z-index: 10

  // That's the original title css
  // font-weight: bold
  // font-family: 'Tangerine', serif
  // font-size: 120px
